<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEndpoints" />
                <binding name="TariffComputerWSSoap" />
                <binding name="integraExternalServicesSoap">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="integraExternalServicesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="TariffComputerWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www2.bilbaopark.eus/ws/Mobile/integraExternalServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="integraExternalServicesSoap"
                contract="integraExternalServicesRef.integraExternalServicesSoap"
                name="integraExternalServicesSoap" />
            <endpoint address="http://www2.bilbaopark.eus:8107/ws/Mobile/integraExternalServices.asmx"
                binding="customBinding" bindingConfiguration="integraExternalServicesSoap12"
                contract="integraExternalServicesRef.integraExternalServicesSoap"
                name="integraExternalServicesSoap12" />
            <endpoint address="http://localhost:65020/TariffComputer.asmx"
                binding="basicHttpBinding" bindingConfiguration="TariffComputerWSSoap"
                contract="TariffComputerLocal.TariffComputerWSSoap" name="TariffComputerWSSoap" />
            <endpoint address="http://localhost:65020/TariffComputer.asmx"
                binding="customBinding" bindingConfiguration="TariffComputerWSSoap12"
                contract="TariffComputerLocal.TariffComputerWSSoap" name="TariffComputerWSSoap12" />
            <endpoint address="http://desota.bilbokoudala.lan/PxEndpoint/endpointswcf/Endpoints.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEndpoints"
                contract="PxEndpointWCF.IEndpoints" name="BasicHttpBinding_IEndpoints" />
        </client>
    </system.serviceModel>
</configuration>